.button-container {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    &:hover {
      background-color: rgb(249, 244, 244);
      color: black;
      border: 1px solid black;
      font-size: 15px;
      padding: 2px ;
    }
  
    &.google-sign-in {
      background-color: #4285f4;
      color: white;
  
      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }
  
    &.inverted {
      background-color: rgb(22, 22, 22);
      color: rgb(240, 234, 234);
      border: 1px solid black;
  
      &:hover {
        background-color: rgb(238, 234, 234);
        color: rgb(4, 4, 4);
        border: none;
      }
    }
  }
  