::-webkit-scrollbar {
  display: none;
}
.cart-dropdown-container{
  position: absolute;
  width: 240px;
  height: 340px;
  display:-webkit-flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgb(9, 9, 9);
  background-color: white;
  top: 90px;
  right: 20px;
  z-index: 5;

 

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items{
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;

  }

  button {
    margin-top: auto;
    position: relative;
  }
}
